body#tinymce * {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: left top;
}

body {}

h1, h2, h3, h4, h5 {}

	h1 {}
	h2 {}
	h3 {}
	h4 {}
	h5 {}

	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5 {}

p,
blockquote { line-height: normal; }

	blockquote {
		padding: 0 40px;
		box-sizing: border-box;
	}

ol,
ul {}

	body#tinymce ol,
	body#tinymce ul,
	.entry ol,
	.entry ul { margin-left: 40px; }

* + p,
* + ol,
* + ul,
* + blockquote {}

a {}

img {
	border: none;
	outline: none;
}

.alignleft {
	float: left;
	display: inline;
}

	img.alignleft { margin: 10px 10px 10px 0; }

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	display: inline;
}

	img.alignright { margin: 10px 0 10px 10px; }

.margin-top-zero { margin-top: 0 !important; }
