* {
    margin: 0;
    padding: 0;
    background-position: left top;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

html.no-js .hide-if-no-js { display: none; }

.screen-reader-text {
    clip: rect( 1px, 1px, 1px, 1px );
    clip-path: polygon( 0px 0px, 0px 0px,0px 0px, 0px 0px );
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


/*
 ######  #### ######## ########    ##     ## ########    ###    ########  ######## ########
##    ##  ##     ##    ##          ##     ## ##         ## ##   ##     ## ##       ##     ##
##        ##     ##    ##          ##     ## ##        ##   ##  ##     ## ##       ##     ##
 ######   ##     ##    ######      ######### ######   ##     ## ##     ## ######   ########
      ##  ##     ##    ##          ##     ## ##       ######### ##     ## ##       ##   ##
##    ##  ##     ##    ##          ##     ## ##       ##     ## ##     ## ##       ##    ##
 ######  ####    ##    ########    ##     ## ######## ##     ## ########  ######## ##     ##
*/
