/**
 * Critical styles.
 */


/*
##     ## ####  ######   ######
###   ###  ##  ##    ## ##    ##
#### ####  ##  ##       ##
## ### ##  ##   ######  ##
##     ##  ##        ## ##
##     ##  ##  ##    ## ##    ##
##     ## ####  ######   ######
*/

._switch,
html.js .noscript,
html.js .hide-if-js,
html.no-js img.lazyload,
html.no-js video.lazyload,
html.no-js .hide-if-no-js,
html.no-js iframe.lazyload {
	display: none !important;
}

@media ( min-width: 1024px ) {

	.hide-if-not-mobile { display: none !important; }

}

@media ( max-width: 1023px ) {

	.hide-if-mobile { display: none !important; }

}