html { font-size: 15px; }

h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}

* + h2,
* + h3,
* + h4,
* + h5 {}

p,
ul,
ol,
blockquote { line-height: normal; }

    ul, ol { margin-left: 0; }

    .entry ul,
    .entry ol,
    body#tinymce ul,
    body#tinymce ol { margin-left: 30px; }

    blockquote { padding: 0 40px; }

* + p,
* + ul,
* + ol,
* + blockquote,
* + img.aligncenter {}

a {}

.container {
    width: 80%;
    max-width: none;
}

.alignleft {
    float: left;
    display: inline;
    margin: 1em 1em 1em 0;
    text-align: left;
}

.container,
.aligncenter {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.alignright {
    float: right;
    display: inline;
    margin: 1em 0 1em 1em;
    text-align: right;
}

/*
########  #######  ##    ## ########  ######
##       ##     ## ###   ##    ##    ##    ##
##       ##     ## ####  ##    ##    ##
######   ##     ## ## ## ##    ##     ######
##       ##     ## ##  ####    ##          ##
##       ##     ## ##   ###    ##    ##    ##
##        #######  ##    ##    ##     ######
*/



/*
 ######   #######  ##        #######  ########   ######
##    ## ##     ## ##       ##     ## ##     ## ##    ##
##       ##     ## ##       ##     ## ##     ## ##
##       ##     ## ##       ##     ## ########   ######
##       ##     ## ##       ##     ## ##   ##         ##
##    ## ##     ## ##       ##     ## ##    ##  ##    ##
 ######   #######  ########  #######  ##     ##  ######
*/

.bg-white,
html.no-touchevents .hover-bg-white:hover { background-color: #FFF; }

.color-white,
html.no-touchevents .hover-color-white:hover { color: #FFF; }

.bg-black,
html.no-touchevents .hover-bg-black:hover { background-color: #000; }

.color-black,
html.no-touchevents .hover-color-black:hover { color: #000; }


/*
########  ##     ## ######## ########  #######  ##    ##  ######
##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ##
##     ## ##     ##    ##       ##    ##     ## ####  ## ##
########  ##     ##    ##       ##    ##     ## ## ## ##  ######
##     ## ##     ##    ##       ##    ##     ## ##  ####       ##
##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ##
########   #######     ##       ##     #######  ##    ##  ######
*/

.btn {}


/*
#### ##     ##    ###     ######   ########  ######
 ##  ###   ###   ## ##   ##    ##  ##       ##    ##
 ##  #### ####  ##   ##  ##        ##       ##
 ##  ## ### ## ##     ## ##   #### ######    ######
 ##  ##     ## ######### ##    ##  ##             ##
 ##  ##     ## ##     ## ##    ##  ##       ##    ##
#### ##     ## ##     ##  ######   ########  ######
*/

img {
    border: none;
    outline: none;
}

img.alignleft   { margin: 1rem 1rem 1rem 0; }
img.aligncenter { margin-bottom:    2rem  ; }
img.alignright  { margin: 1rem 0 1rem 1rem; }

img.lazyload,
img.lazyloading,
img.lazyloaded {
    opacity: 0;
    transition: opacity 0.5s;
}

    img.lazyloaded { opacity: 1; }


/*
######## ##       ######## ##     ##
##       ##       ##        ##   ##
##       ##       ##         ## ##
######   ##       ######      ###
##       ##       ##         ## ##
##       ##       ##        ##   ##
##       ######## ######## ##     ##
*/

.flex,
.flex-inline {
    display: -ms-flexbox;
    display: -webkit-flex;
            display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
            align-content: stretch;
}

    .lazyload.flex[data-bgset],
    .lazyloading.flex[data-bgset],
    .lazyloaded.flex[data-bgset] {
        display: -ms-flexbox;
        display: -webkit-flex;
                display: flex;
    }

    .flex-inline,
    .lazyload.flex-inline[data-bgset],
    .lazyloading.flex-inline[data-bgset],
    .lazyloaded.flex-inline[data-bgset] {
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
                display: inline-flex;
    }

.flex.flex-column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex.flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flex.flex-justify-center {
    -webkit-justify-content: center;
            justify-content: center;
              -ms-flex-pack: center;
}

.flex.flex-justify-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.flex.flex-justify-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.flex.flex-align-center {
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
}

.flex.flex-align-stretch {
    -webkit-align-items: stretch;
         -ms-flex-align: stretch;
            align-items: stretch;
}
